.leftSide {
  height:100%;
  :global(.ant-layout-sider) {
    background-color: #fff;
    width: 100% !important;
    min-width: auto !important;
    height: 100%;
    :global(.ant-menu) {
      height: 100%;
    }
  }
}
