.colorBlock {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin-right: 2px;

}
.legendName {
  margin: 0 !important;
  display: flex;
  font-size: 10px !important;
  align-items: center;
}