.hccHeader {
  position: 'sticky';
  top: 0;
  z-index: 1;
  width: '100%';
  display: 'flex';
  align-items: 'center';
  .hccMenu {
    font-size: 16px;
  }

  .globe {
    cursor: pointer;
    margin-left: 10px;
  }
}
